###############################################################################

# Set default behavior to automatically normalize line endings.

###############################################################################

* text=auto

###############################################################################
# Exclude documentation from git linguist statistics
#
###############################################################################
Dokumentacja/html/* linguist-documentation
